<tr style="border-collapse:collapse">
    <td align="center" style="padding: 25px 0;Margin:0">
            <span class="es-button-border"
                  style="border-style:solid;border-color:#ff8a66;background:#FF4C18;border-width:1px;display:inline-block;border-radius:2px;width:auto">
                <a href="https://{{ link }}" class="es-button" target="_blank"
                   style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#FFFFFF;font-size:20px;border-style:solid;border-color:#FF4C18;border-width:15px 25px 15px 25px;display:inline-block;background:#FF4C18;border-radius:2px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:24px;width:auto;text-align:center">
                    {{ text }}
                </a>
            </span>
    </td>
</tr>