<tr style="border-collapse:collapse">
    <td class="es-m-txt-l" bgcolor="#ffffff" align="left"
        style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
        <ul>
            {% for item in items %}
                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;Margin-bottom:15px;margin-left:0;color:#666666;font-size:18px">
                    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666;font-size:18px">{{ item }}</p>
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>